.container {
    width: 450px;
    height: auto;
    display: grid;
}

.container .header {
    height: auto;
    width: auto;
    font-size: 20px;
    text-align: center;
    background: #524C42;
}

.container .row {
    height: auto;
    width: auto;
    display: flex;
}

.container .row .cell {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.minesweeper-info {
    background-color: #454444;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.timer,
.flags {
    margin-right: 20px;
}

#timer,
#flags {
    font-weight: bold;
}